* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #fffafc;
}


/* ===== NAVBAR ===== */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    color: #b76e79;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}


/* ===== HERO ===== */

.hero {
    height: 90vh;
    background: url("../images/poster.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    background: rgba(0,0,0,0.4);
    padding: 40px;
    color: white;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: #b76e79;
    color: white;
    text-decoration: none;
    border-radius: 25px;
}


/* ===== SERVICES ===== */

.services {
    padding: 60px 10%;
    text-align: center;
}

.service-container {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    justify-content: center;
}

.service-card {
    width: 280px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.service-card img {
    width: 100%;
    border-radius: 10px;
}


/* ===== FOOTER ===== */

footer {
    text-align: center;
    padding: 20px;
    background: #b76e79;
    color: white;
}
